<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UICollectionViewDemo5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5033534F1C92B36F00E12470</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>503353681C92B37000E12470</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>503353731C92B37000E12470</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
