<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>lec01 Demo1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>50A192D51BB3CD4900EFB966</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50A192EE1BB3CD4A00EFB966</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50A192F91BB3CD4A00EFB966</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
