<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RXCollectionsDemo1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5042D8FA1C9986CE00D49705</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5042D9131C9986CE00D49705</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5042D91E1C9986CE00D49705</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
