<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ReactiveCocoaDemo1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>50BE9C471C9D056300F4ECB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50BE9C601C9D056300F4ECB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50BE9C6B1C9D056300F4ECB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
