<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CustomAlertViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>509EDD6B1BB2ACD700356349</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>509EDD841BB2ACD700356349</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>509EDD8F1BB2ACD700356349</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
